= simple_form_for(@product) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :category
    = f.input :price
    = f.input :description
    -#= f.input :properties

  .form-actions
    = f.button :submit
